* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  color: #ff6d02;
}

a {
  text-decoration: none;
  color: #ff6d02;
}

hr {
  height: 5px;
  border: 1px solid #ff6d02;
  border-radius: 20px;
  background-color: #ff6d02;
}

h1 {
  font-size: 22px;
  text-align: center;
}

h2 {
  font-size: 16px;
  text-align: center;
}

h3 {
  font-size: 14px;
  text-align: center;
}

h4 {
  text-align: center;
}

p {
  text-align: center;
}

button,
.button {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 15px auto;
  padding: 5px;
  text-align: center;
  border: 2px solid #ff6d02;
  background-color: #ff6d02;
  color: #fafafa;
  border-radius: 20px;
  text-align: center;
  transition: all 0.2s ease;
  width: 50%;
  background: none;
  font-family: Poppins, sans-serif;
  cursor: pointer;
}

button:hover,
.button:hover {
  background-color: #ffb16f;
  color: #fafafa;
}

textarea {
  resize: none;
}

/* div {
  border: 1px solid green;
} */

/*****Backgrounds*****/

.portfolio-background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/backgrounds/portfolio-header-background-v3.jpg");
  background-repeat: no-repeat;
  background-size: 80% 100%;
  background-position: center;
  background-color: #000000;
}

.blog-background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/backgrounds/blog-header-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/backgrounds/contact-header-background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  background-size: cover;
}

/*****Header Section*****/

.header__primary {
  min-height: 12vh;
  max-height: 12vh;
  padding: 2vh 0;
}

.header__primary,
.header__links,
.header__secondary {
  display: flex;
  justify-content: space-around;
  min-width: 100%;
  text-align: center;
}

.header__logo {
  min-width: 50%;
  padding: 0;
  margin: 0;
}

.header__logo img {
  max-height: 8vh;
}

.header__secondary,
.header__hamburger,
.header__primary p {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.header__secondary__other h1 {
  border: 5px solid #ff6d02;
  border-radius: 5px;
  margin: 10px 30%;
}

.header__secondary__other h3 {
  max-width: 75%;
  margin: 0 auto;
  padding: 10px;
}

.header__links {
  position: fixed;
  background-color: #011936;
  display: none;
  z-index: 100;
}

.header__links ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-evenly;
}

.header__links li {
  padding: 30px;
  font-size: 30px;
}

.header__links a {
  padding: 10px;
}

.callback-form,
.subscribe-form {
  position: fixed;
  display: none;
  width: 100%;
  height: 100vh;
  z-index: 101;
}

.callback-form,
.subscribe-container {
  border: 5px solid #011936;
  background-color: #011936;
}

.subscribe-form {
  backdrop-filter: blur(5px);
}

.subscribe-container {
  position: relative;
  width: 50%;
  height: 50%;
  left: 25%;
  top: 25%;
}

.form-content {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 75%;
  margin: 0 auto;
  justify-content: space-evenly;
  padding: 5vh 20px;
}

.close {
  position: relative;
  top: 10px;
  width: 100%;
  text-align: right;
  cursor: pointer;
}

.close i,
.close h3 {
  font-size: 30px;
}

.callback-form input,
.subscribe-form input {
  border: 2px solid #ff6d02;
  border-radius: 5px;
  background-color: rgba(252, 247, 248, 0.85);
  margin: 5px;
  padding: 15px;
  text-align: center;
  font-family: Poppins, sans-serif;
  color: #ff6d02;
}

.callback-form input::placeholder,
.subscribe-form input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ff6d02;
  opacity: 1; /* Firefox */
}

.callback-form input:-ms-input-placeholder,
.subscribe-form input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ff6d02;
}

.callback-form input::-ms-input-placeholder,
.subscribe-form input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #ff6d02;
}

.header__hamburger,
.header__primary p {
  width: 15%;
}

.header__primary p {
  font-size: 8px;
}

.header__hamburger {
  cursor: pointer;
  z-index: 100;
}

.active {
  background-color: #ff6d02;
  color: #011936;
}

/*****Landing Page*****/
.my-work-summary,
.my-skills {
  display: flex;
  flex-direction: column;
}

.my-work-summary__heading,
.my-skills__heading {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-around;
  /* padding: 20% 0; */
  text-align: center;
  width: 60%;
  margin: 0 auto;
}

.my-skills__heading,
.my-software__heading,
.my-work-summary__heading {
  z-index: 2;
}

.my-work-summary__heading br,
.my-skills__heading br,
.my-software__heading br {
  display: none;
}

/* .my-work-summary__heading h2,
.my-skills__heading h2 {
  text-align: right;
  padding: 5px 0;
  font-size: 15px;
} */

/* .my-work-summary__heading {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 25%,
    rgba(62, 100, 129, 1) 100%
  );
} */

.my-work-summary__content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.my-work-summary__example {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  font-size: 45px;
  background-color: #3e6481;
  min-width: 60%;
  min-height: 300px;
}

.my-skills__heading {
  color: #3e6481;
  /* background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 25%,
    rgba(244, 150, 116, 1) 100%
  ); */
}

.my-software__heading {
  text-align: center;
}

.my-work-summary__text {
  text-align: center;
  padding: 0 15px;
}

.grid {
  width: 100%;
  background-color: #ff6d02;
  color: #3e6481;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
}

.grid i {
  font-size: 25px;
}

.card-big,
.card-small {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #3e6481;
  color: #ff6d02;
  margin: 2px;
  border-radius: 5px;
  transition: all 0.2s ease;
}

.card-big {
  grid-column-start: span 2;
  flex-direction: row;
}

.card-big p,
.card-big i {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2px 15px;
  text-align: center;
}

.card-big p {
  padding-left: 0;
}

.card-big:hover,
.card-small:hover {
  cursor: pointer;
  transform: scale(1.02);
  box-shadow: 0px 6px 6px rgba(244, 150, 116, 0.6);
}

.card-small {
  grid-column-start: span 1;
  text-align: center;
}

.my-software__collage,
.my-software__collage__header {
  background-color: #3e6481;
  clear: both;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 10px;
}

.software {
  border-radius: 5px;
  background-color: rgba(244, 150, 116, 1);
  padding: 5px;
  margin: 10px 10px;
  transition: all 0.2s ease;
  display: flex;
  justify-content: space-evenly;
}

.software:hover {
  cursor: pointer;
  transform: scale(1.3);
  box-shadow: 0px 6px 6px rgba(244, 150, 116, 0.6);
}

.my-software__collage img {
  max-height: 40px;
  width: auto;
}

.my-skills__total-container {
  position: relative;
}

.my-software__details {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #3e6481;
  z-index: -1;
}

.my-software__details__back {
  cursor: pointer;
}

.top {
  z-index: 2;
}

/*****Blog Page*****/
.blog-filter {
  padding: 10px;
}

.blog-filter select {
  display: flex;
  margin: 5px auto;
  padding: 5px;
}

.blog-page-layout {
  display: flex;
  flex-wrap: wrap;
}

.blog-post {
  display: flex;
  padding: 10px;
  width: 100%;
}

.blog-image {
  min-width: 50%;
  max-width: 50%;

  background-color: #011936;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.blog-image img {
  max-width: 90%;
  height: auto;
  max-height: 20vh;
  margin: 0 auto;
}

.blog-post hr {
  min-width: 150%;
  position: relative;
  right: 50%;
  border-radius: 0px;
  border: none;
  height: 2px;
}

.blog-post p {
  text-align: center;
}

/*****Portfolio Page*****/

.portfolio-image {
  background-color: #ff6d02;
}

/*****Contact Page*****/
.contact-details {
  text-align: center;
}

.contact-details__sections {
  display: flex;
  justify-content: space-evenly;
}

.contact-details__sections i {
  font-size: 40px;
}

.contact-details__sections__div {
  border-left: 5px solid #ff6d02;
  border-radius: 5px;
}

.contact-details__sections__detail {
  min-width: 30%;
  max-width: 30%;
  padding: 30px 0;
}

.contact-details__sections p {
  color: #fcf7f8;
  word-wrap: break-word;
  font-size: 12px;
}

/*****Contact Form*****/

.contact-form {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 10px auto;
}

.contact-form input,
.contact-form textarea {
  border: 2px solid #ff6d02;
  border-radius: 5px;
  background-color: rgba(252, 247, 248, 0.85);
  margin: 5px;
  padding: 5px;
  font-family: Poppins, sans-serif;
  color: #ff6d02;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ff6d02;
  opacity: 1; /* Firefox */
}

.contact-form input:-ms-input-placeholder,
.contact-form textarea:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ff6d02;
}

.contact-form input::-ms-input-placeholder,
.contact-form textarea::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #ff6d02;
}

/*****Social Link Icons*****/

.social-links-desktop {
  display: none;
}

.social-links__icons {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 15px;
  font-size: 40px;
}

/*****Contact Map*****/

/*****Responsive Design*****/

@media all and (min-width: 575px) {
}
@media all and (min-width: 768px) {
  .my-work-summary,
  .my-software {
    display: flex;
    flex-direction: row;
  }

  .my-skills {
    flex-direction: row-reverse;
  }
  .my-work-summary__content {
    flex-direction: row;
  }
  .my-work-summary__heading,
  .my-skills__heading,
  .my-software__heading {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .my-work-summary__heading h2,
  .my-software__heading h2 {
    text-align: right;
    position: relative;
    right: -2vw;
    font-size: 40px;
  }

  .my-skills__heading h2 {
    text-align: left;
    position: relative;
    left: -2vw;
    font-size: 40px;
  }

  .my-work-summary__heading br,
  .my-skills__heading br,
  .my-software__heading br {
    display: inline;
  }

  .my-work-summary__text hr {
    width: 150%;
    position: relative;
    right: 50%;
  }

  .grid {
    padding: 10px 2vw;
    margin: 20px 0px 20px 10px;
  }
  .index-section {
    width: 90%;
    margin: 0 auto;
  }

  .my-software__heading h2 {
    font-size: 30px;
    text-align: right;
  }

  .my-software__collage__container {
    margin: 0px 0;
  }

  .my-software__collage__header,
  .my-software__collage {
    padding: 10px 2vw;
  }

  .blog-post {
    max-width: 50%;
    margin: 10px auto;
  }

  .contact-items {
    display: flex;
    width: 100%;
    margin: 0 auto;
  }

  .contact-details,
  .contact-form,
  .contact-map {
    width: 50%;
    margin: 10px auto;
  }

  .social-links-mobile {
    display: none;
  }
  .social-links-desktop {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
  }
  .social-links__icons {
    width: 100%;
  }
}
@media all and (min-width: 991px) {
  .larger-layout {
    display: flex;
  }

  .my-work-summary,
  .my-skills {
    width: 50%;
    margin: 0 2vw;
  }

  .my-work-summary button {
    width: 80%;
  }

  .my-software {
    display: inline;
  }
  .my-software__heading,
  .my-software__details {
    width: 50%;
    margin: 0 auto;
  }

  .my-software__heading h2 {
    text-align: center;
    right: 0;
  }

  .my-software__heading br {
    display: none;
  }

  .my-software__details {
    width: 100%;
  }
}
@media all and (min-width: 1199px) {
  .my-software__collage__container {
    width: 50%;
    margin: 10px auto;
  }

  .my-software__details {
    left: 25%;
    width: 50%;
  }

  .blog-post {
    max-width: 30%;
  }
}
